.sidebar-topic-filter
  .sidebar-topic-filter-search.btn-group.btn-group-justified
    .input-group.input-group-md
      span.input-group-addon
        i.glyphicon.glyphicon-search
      input.form-control.topic-search(type='text', placeholder='#{t("admin-topics.list.search.placeholder")}', value=filter.search, autofocus)

  .sidebar-topic-tag-filter.btn-group
    button.btn.btn-default.current-department(type='button', data-tag-filter-btn)
      - if (filter.tag)
        - if (filter.tag.name)
          span.current-tag.pull-left= filter.tag.name
      - else
        span.current-tag.pull-left= 'Filter by tag'
      span.caret
    ul.topic-tag-dropdown-list

  .sidebar-topic-filter-collapse.btn-group
    div.expand
      span.heading= 'Topics'
      a.expand-button(data-expand-button)
        i.icon-angle-down
