- var closed = platform.closed
.inner-container
  - var learnMore = config.learnMoreUrl
  - if (learnMore)
    div.alert.alert-warning.alert-dismissable.system-alert
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      span #{t('platform-article.article.alert.text')}&nbsp;&nbsp;
      a.alert-link(href=learnMore, target="_blank") #{t('platform-article.article.alert.learn-more')}


  article.platform.commentable-container

    .entry-tag(style="border-color: #{platform.tag.color}")

      img(src=tagImages[platform.tag.image].url, style="fill: white;")

      svg(viewbox='0 0 126 144', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns').hexagon
        title Hexagon
        description Created with Sketch (http://www.bohemiancoding.com/sketch)
        g#Page-1(fill='none', fill-rule='evenodd', sketch:type='MSPage')
          polygon#Polygon-1(d='M63,0 L125.353829,36 L125.353829,108 L63,144 L0.646170928,108 L0.646170928,36 L63,0 Z M63,0', fill='#{platform.tag.color}', sketch:type='MSShapeGroup', points='63 0 125.353829 36 125.353829 108 63 144 0.646170928 108 0.646170928 36 ')

      div(style="color: #{platform.tag.color}")= platform.tag.name


    h1=platform.mediaTitle
    - if (platform.author)
      h2.author=t('admin-topics-form.label.author') + ': '
        - if (platform.authorUrl)
          a(href=platform.authorUrl, target='_blank')=platform.author
        - else
          =platform.author
    h3=platform.title
    .entry-content
      .body!= platform.body

    //- Article source
    - if (platform.source)
      .source
        p
          span.glyphicon.glyphicon-link
          a(target="_blank", href="#{platform.source}")
           | #{t('platform-article.view-original-text')}

    //- Article links
    - if (platform.links && platform.links.length)
      .links
        h5=t('common.more-information')
        - each link in platform.links
          p
            span.glyphicon.glyphicon-share
            a(target="_blank", href=link.url)=link.text

    //- Article opinions
    .opinions

    //- Article platform tree
    .platform-tree
