.node-box(data-node-id=node.id)
  .node-card
    .avatar-container
      - if (node.itemImage)
        img.tag(src=tagImages[node.itemImage].url)
      - else
        img.avatar(src=(node.itemImage) ? tagImages[node.itemImage].url : node.author.avatar, title=node.author.displayName)
    .action-container.pull-right
      a.node-reply(href="#" title="Reply to this argument")
        i.icon-reply
      a.node-expand(data-node-expand-button)
        i.icon-angle-down
    .node-body-container
      span.author-name= node.itemTitle || (node.itemAuthor || node.author.displayName)
      .node-body!= node.body
    .reply-options-container.hide
      .reply-options
        each option in edgesTo
          .option(data-reply-name=option.name)
            a.little-button(style=`background-color: ${option.color}`)
            span.reply-opt=option.name
    .reply-form-container
