.node-box(data-node-id=node.id)
  .node-card
    .avatar-container
      - if (node.itemImage)
        img.tag(src=tagImages[node.itemImage].url)
      - else
        img.avatar(src=(node.itemImage) ? tagImages[node.itemImage].url : node.author.avatar, title=node.author.displayName)
    .action-container.pull-right
      - if (!node.itemAuthor && (user.id == node.author.id))
        a.node-edit-icon.card-icon(href='#', title="Edit this argument")
          i.icon-pencil
        a.node-remove-icon.card-icon(href='#', title="Delete this argument")
          i.icon-remove
      a.node-reply-icon.card-icon(href="#", title="Reply to this argument")
        i.icon-reply
    .node-body-container
      - if (node.itemTitle)
        a(href='/#{node.referenceType}/#{node.reference}', style='text-decoration: none; color: inherit;')
          span.author-name= node.itemTitle
      - else
        span.author-name= (node.itemAuthor || node.author.displayName)
      .node-body!= node.body
    - if (node.itemTitle)
      a.read-more-link.hide(href='/#{node.referenceType}/#{node.reference}')
        span.read-more= t('common.read-more')
    .reply-options-container.hide
      .reply-options
        each option in edgesTo
          .option(data-reply-name=option.name)
            a.little-button(style=`background-color: ${option.color}`)
            span.reply-opt=option.name
    .reply-form-container
