- var logged = user.logged()

.node-edit
  if (logged)
    form.node-edit-form(action='#', autovalidate='autovalidate')
      textarea.node-body(tabindex='1')= node.body
      - var buttonVal = t('common.ok')
      input.btn.form-submit.pull-right(type='submit', value=buttonVal, tabindex='2')
      input.btn.btn-cancel.pull-right(type='button', value=t('common.cancel'), tabindex='3')
      span.help-text.form-messages
  if (!logged)
    .box
      p.text-mute= t('comments.sign-in-required')
        | .&nbsp;
        a(href="/signin")= t('signin.login')
        | &nbsp;#{t('common.or')}&nbsp;
        - var signupUrl = '/signup?reference=' + reference
        a(href=signupUrl)= t('signin.signup')
        | .
